header {
  display: none !important;
}

footer {
  display: none !important;
}

body {
  overflow: hidden;
}

.quiz-result {
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100svh;
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
}

.quiz-result .header-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1720px;
  padding-left: 50px;
  padding-right: 50px;
}

.quiz-result .header-holder a {
  text-decoration: none;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 20px;
  color: #17462b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #17462b;
  border-radius: 12px;
  max-height: 51px;
}

.quiz-result .header-holder .text-holder {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quiz-result .header-holder .text-holder h1 {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 34px;
  text-align: center;
  color: #17462b;
  margin-bottom: 0px;
}

.quiz-result .header-holder .text-holder span {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #44674f;
}

.quiz-result h1 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.quiz-result p {
  margin-bottom: 10px;
  font-size: 16px;
}

.result-score-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px;
  border-radius: 14px;
  background-color: #f8fafc;
  box-shadow: 4px 4px 12px 0px #00000014;
  margin-top: 40px;
}

.result-score-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 44px;
    border-radius: 14px;
    background-color: #f8fafc;
    box-shadow: 4px 4px 12px 0px #00000014;
    margin-top: 40px;
  }

/* Hide the download button in the PDF */
@media print {
  #download-pdf-btn {
    display: none;
  }
}
